*{
    font-family: 'Josefin Sans', sans-serif;
    color:#ececec;
    font-weight: bold;
}

.head-sec1{
    background-color:  #1a2754;
    
    /* background-color: blanchedalmond; */
    font-size: .9em;
    text-decoration: none;
    list-style-type: none;
}
.head-sec1 a{
    color:inherit;
    /* color: burlywood; */
}
.shop-cart{
    font-size: 2em;
    color: #1a2754;
}
.btn{
    background-color: #1a2754;
}
.head-sec4{
    background-color: #1a2754;
}
.head-sec4 .nav-link{
    color: #1a2754;
}
.head-sec4 .container{
    min-height: 300px;
} 
